@charset "ISO-8859-1";
body{
    background-image: url('images/r_background.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; 
    background-position: center;
}
header{
	margin: auto;
	text-align: center;
	display: flex;
	background-color: gray;
	border-radius: 10px;
}
header img{
	border-radius: 15px;
	width: 4%;
	height: 4%;
	margin: 0.5%;
	margin-left: 2%;
}
h1{
	margin: auto;
	text-align:center;
}
form{
	border: 2px solid orange;
	border-radius: 15px;
	margin: auto;
	background-color: orange;
	opacity: 0.6;
	width: 30%;
	margin-right: 15%;
	margin-top: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
}
form h3{
	text-align: center;
	text-decoration: underline;
}
#td_div{
	display: flex;
	justify-content: space-around;
}
#div1, #div2{
	text-align: center;
}
#div1 select, #div2 select{
	width: 110%;
	padding: 4%;
	border: 2px solid black;
	border-radius: 10px;
}
#div1 input{
	width: 100%;
	padding: 4%;
	border: 2px solid black;
	border-radius: 10px;
}
#pd_div{
	display: flex;
	justify-content: space-around;
}
#pd_div input{
	padding: 4%;
	border: 2px solid black;
	border-radius: 10px;
}
#sbt_div{
	display: flex;
	justify-content: space-around;
}
#sbt_div input{
	width: 30%;
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
}